for
while loop statements

In [1]:
x=100
while x<600:
    print('yes')
    x=x+100

yes
yes
yes
yes
yes

In [2]:
 dollars=[40,20,80,50,30,60,90]
dollars

[40, 20, 80, 50, 30, 60, 90]

In [19]:
for i in dollars:
    print(i*85)

3400
1700
6800
4250
2550
5100
7650

In [20]:
inr=[]
for i in dollars:
    inr.append(i*85)

dollars*2

In [24]:
num1=[31,45,66,33,90,78,67,87,89,93,25,59,9,81]
num1

[31, 45, 66, 33, 90, 78, 67, 87, 89, 93, 25, 59, 9, 81]

In [25]:
j=[]
k=[]
for i in num1:
    if i%2==0:
        j.append(i)
    else:
        k.append(i)
print(j)
print(k)

[66, 90, 78]
[31, 45, 33, 67, 87, 89, 93, 25, 59, 9, 81]

In [22]:
num2=[34,85,56,78,69,44,94,56,67,]
num

[34, 85, 56, 78, 69, 44, 94, 56, 67]

In [30]:
h=[]
for i in num1:
    a=str(i)
    b=a.replace('9','1')
    c=int(b)
    h.append(c)
    print(h)

[31]
[31, 45]
[31, 45, 66]
[31, 45, 66, 33]
[31, 45, 66, 33, 10]
[31, 45, 66, 33, 10, 78]
[31, 45, 66, 33, 10, 78, 67]
[31, 45, 66, 33, 10, 78, 67, 87]
[31, 45, 66, 33, 10, 78, 67, 87, 81]
[31, 45, 66, 33, 10, 78, 67, 87, 81, 13]
[31, 45, 66, 33, 10, 78, 67, 87, 81, 13, 25]
[31, 45, 66, 33, 10, 78, 67, 87, 81, 13, 25, 51]
[31, 45, 66, 33, 10, 78, 67, 87, 81, 13, 25, 51, 1]
[31, 45, 66, 33, 10, 78, 67, 87, 81, 13, 25, 51, 1, 81]